{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to EcomHive Ecommerce...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas efficitur ante elit, nec mattis tortor finibus eget. Nullam gravida arcu sit amet ex lacinia rutrum. Integer dictum egestas libero nec eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent arcu mauris, tincidunt pretium odio sed, aliquet aliquam quam. Donec eget hendrerit tortor. Duis vulputate tempus est vitae consequat. Suspendisse potenti. Mauris eget aliquam risus, id facilisis ex. Mauris efficitur ligula a facilisis egestas. Aenean sit amet eros a felis imperdiet ornare. Integer mattis nunc nec libero varius, eu pellentesque urna posuere. Pellentesque nulla lorem, gravida eget justo ut, euismod viverra metus.
                </br></br>
Nulla facilisi. Sed ornare diam lectus, sed ullamcorper purus tristique condimentum. Integer sed elit tincidunt magna mattis fringilla. Pellentesque non ligula arcu. Duis vestibulum id est a porttitor. Quisque hendrerit velit pulvinar erat dignissim, maximus pulvinar leo tristique. Donec nisi neque, condimentum finibus massa a, congue tristique erat. Praesent sit amet arcu tincidunt, tempor magna eget, posuere justo. Pellentesque vestibulum tempus mattis. Morbi sed porta lorem, in feugiat elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </br></br>
Donec laoreet bibendum ligula nec eleifend. Donec magna turpis, congue id tristique et, aliquam eget nulla. Quisque orci eros, euismod vitae massa non, aliquet elementum erat. Vivamus porta eros nec orci porttitor, nec congue orci tempus. Sed venenatis sagittis lectus, quis ultrices elit porta et. Nulla auctor quam sit amet erat semper, et fermentum metus consectetur. Quisque magna purus, placerat ultrices cursus quis, eleifend tempus odio. Nullam iaculis, justo quis aliquam vestibulum, ipsum tortor fermentum mi, id ultricies lectus risus ac diam.
                <br/><br/>
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock  %}